#### ! REPRODUCIBILITY NOTE: execution of this notebook can be skipped, files created by this notebook are already in  `../metadata`

In [2]:
from ripe.atlas.cousteau import Probe

In [3]:
import sqlite3
import pandas as pd

In [4]:
with sqlite3.connect('../data/main.db') as conn:
    probes = pd.read_sql('select * from probes', con=conn)

In [5]:
probes.head()

   id  probe_id country_code
0   1     10003           NL
1   2     10006           GB
2   3     10007           US
3   4     10019           FR
4   5     10023           DE

In [6]:
len(probes)

5229

In [14]:
home_probes = []
coordinates = dict()

for p in probes['probe_id'].unique():
    prb = Probe(id=p)
    coordinates[p] = prb.geometry['coordinates']

    for tag in prb.tags:
        if tag['slug'] == 'home':
            home_probes.append(p)

In [17]:
coordinates

{10003: [4.9375, 52.3685],
 10006: [0.1575, 52.2205],
 10007: [-122.3325, 38.3305],
 10019: [5.2875, 43.5315],
 10023: [13.3785, 52.4985],
 10031: [13.4085, 52.5175],
 10034: [21.0185, 52.1995],
 10047: [14.4795, 50.0305],
 10048: [-1.4405, 50.9415],
 10051: [8.7395, 50.1175],
 10052: [11.5895, 48.1885],
 10058: [5.4395, 43.3415],
 10068: [15.2305, 44.1215],
 10070: [30.5205, 50.4175],
 10080: [139.4315, 35.9175],
 10087: [20.6315, 50.8805],
 10089: [-0.0885, 51.5415],
 10092: [23.4015, 42.6885],
 10095: [174.7115, -36.7705],
 10098: [-0.3785, 51.6015],
 10099: [-84.2785, 34.0215],
 10101: [4.6075, 52.3475],
 10113: [21.4275, 41.9985],
 10131: [20.4685, 44.8075],
 10134: [-0.1915, 51.5895],
 10141: [7.5695, 46.8675],
 10146: [-71.1005, 42.2405],
 10152: [20.4195, 42.0685],
 10176: [19.9105, 42.1705],
 10179: [17.8505, 59.4115],
 10180: [5.3815, 52.1975],
 10185: [-117.1985, 32.8595],
 10188: [6.0815, 50.7815],
 10194: [-87.9985, 41.8795],
 10203: [1.2275, 6.1685],
 10204: [-71.1525, 42.3795],
 10214: [6.3775, 49.5095],
 10215: [37.7175, 55.7395],
 10221: [30.3885, 59.9775],
 10228: [38.4485, 57.7915],
 10231: [5.4685, 51.4375],
 10237: [2.1685, 41.3905],
 10238: [82.9085, 55.0015],
 10239: [9.9985, 57.4615],
 10243: [39.2795, -6.7915],
 10248: [22.5795, 49.4415],
 10249: [65.5595, 57.1815],
 10250: [9.9895, 53.4875],
 10252: [33.5295, 44.6185],
 10258: [73.2795, 55.0315],
 10266: [151.2405, -33.9495],
 10273: [4.6705, 52.1285],
 10274: [37.6305, 54.1795],
 10281: [11.0915, 49.2275],
 10286: [-87.1685, 39.0305],
 10287: [92.8015, 56.0005],
 10293: [8.6115, 50.2285],
 10301: [-93.3225, 44.9175],
 10303: [-122.6825, 45.5185],
 10305: [-121.9425, 37.2795],
 10311: [-91.1425, 30.4575],
 10312: [-79.7925, 36.0685],
 10317: [-97.1525, 32.6705],
 10322: [-71.0615, 42.0385],
 10324: [-99.1315, 19.4295],
 10331: [-122.1215, 47.4775],
 10333: [-75.1715, 39.9485],
 10335: [-71.0615, 42.3595],
 10336: [-95.5615, 29.8905],
 10338: [-83.4615, 42.3215],
 10342: [-117.0005, 46.7285],
 10350: [-77.3805, 37.6775],
 10356: [-74.6105, 39.2505],
 10357: [-75.5205, 39.1605],
 10362: [-83.7395, 42.2485],
 10369: [-91.1195, 30.4515],
 10371: [-74.0095, 40.8875],
 10377: [-75.8495, 42.9305],
 10381: [-122.3285, 37.5575],
 10386: [-74.4285, 39.4905],
 10390: [-84.5685, 42.8375],
 10394: [-112.2885, 33.7095],
 10397: [-122.2285, 47.8105],
 10400: [-81.6425, 28.7975],
 10402: [-71.5225, 42.3085],
 10403: [-122.0725, 36.9985],
 10406: [-86.9825, 40.2005],
 10413: [-89.5325, 43.0685],
 10415: [-122.4025, 37.7195],
 10418: [-89.4325, 43.0115],
 10427: [-73.6315, 40.7305],
 10441: [-113.3005, 53.5275],
 10443: [-73.2005, 44.4685],
 10444: [-79.3805, 43.6495],
 10446: [-73.5005, 45.4905],
 10450: [-100.2905, 25.6475],
 10458: [-75.6505, 41.4915],
 10462: [-77.5295, 38.9785],
 10473: [-73.1295, 44.5285],
 10477: [-73.5495, 45.5105],
 10478: [-90.1695, 32.4015],
 10479: [-114.0095, 50.9515],
 10482: [-75.3385, 39.8585],
 10484: [-76.9885, 38.8895],
 10486: [-122.6385, 48.2905],
 10491: [-75.1585, 39.9475],
 10495: [-90.0785, 29.9495],
 10497: [34.7715, 31.9705],
 10498: [-78.8785, 42.8915],
 10506: [-77.0425, 38.9105],
 10507: [-97.8225, 37.7505],
 10509: [114.1075, 22.4015],
 10510: [103.8175, 1.3475],
 10515: [-80.1425, 26.6095],
 10535: [-9.2315, 38.6995],
 10540: [-88.1105, 42.0075],
 10542: [-87.7905, 41.7385],
 10543: [-81.7305, 28.7985],
 10544: [-87.6905, 42.0695],
 10545: [-88.1405, 41.3195],
 10551: [-77.2305, 39.9775],
 10553: [-73.4305, 41.3585],
 10554: [-85.7805, 42.8895],
 10555: [-85.6205, 42.2995],
 10556: [-88.0905, 41.8405],
 10562: [-75.1895, 39.7085],
 10564: [-95.9895, 36.1495],
 10565: [-95.5995, 29.6695],
 10568: [-75.1695, 40.2015],
 10576: [-77.5995, 38.8105],
 10583: [-83.8985, 33.9885],
 10584: [-75.9185, 40.3495],
 10587: [-84.3785, 33.7405],
 10598: [-78.0185, 40.7915],
 10600: [-6.2525, 53.3475],
 10605: [7.4275, 46.9395],
 10610: [-8.4825, 54.2775],
 10611: [4.8975, 52.3675],
 10612: [-9.2825, 53.8585],
 10620: [-1.2215, 53.1675],
 10626: [-104.8315, 39.0505],
 10638: [27.7285, 64.2315],
 10640: [-122.2905, 47.4875],
 10644: [28.0895, 61.0695],
 10645: [2.0395, 48.7695],
 10647: [15.0195, 50.8405],
 10650: [174.9795, -41.1725],
 10654: [7.9995, 51.3295],
 10657: [-95.4305, 29.9405],
 10659: [44.4995, 40.1715],
 10661: [-70.6595, -33.5025],
 10667: [10.7505, 59.9105],
 10668: [-122.2095, 37.5015],
 10674: [-121.9595, 37.3795],
 10675: [-77.4695, 38.9095],
 10676: [103.7505, 1.3305],
 10677: [-96.8295, 32.9305],
 10681: [21.7815, 61.4675],
 10692: [-77.4885, 39.0385],
 10704: [-80.7925, 28.1995],
 10717: [44.7675, 40.5505],
 10718: [46.1975, 38.8715],
 10725: [-8.5515, 52.6695],
 10727: [-77.0715, 38.9005],
 10729: [44.5085, 40.2015],
 10738: [9.6185, 49.7915],
 10743: [-122.3105, 47.6185],
 10750: [26.1395, 44.4875],
 10751: [-77.0005, 39.1075],
 10754: [12.5895, 55.6795],
 10760: [-7.8895, 53.4275],
 10767: [7.4505, 46.9605],
 10770: [8.7105, 47.3575],
 10774: [23.8405, 61.4595],
 10782: [5.9715, 51.9585],
 10785: [-0.7285, 51.5195],
 10790: [-106.4885, 31.7575],
 10797: [2.3315, 48.8705],
 10806: [4.4175, 51.1805],
 10807: [103.7875, 1.3005],
 10813: [-8.6025, 51.6685],
 10814: [-83.7425, 42.2795],
 10816: [2.0375, 48.7605],
 10819: [6.2875, 51.9715],
 10824: [13.4185, 52.5295],
 10836: [-0.4715, 39.5205],
 10841: [20.4195, 42.0675],
 10843: [32.5795, 0.3085],
 10845: [10.7895, 52.4295],
 10849: [20.4195, 42.0715],
 10855: [32.5995, 0.3195],
 10858: [-6.2805, 53.3515],
 10864: [8.6605, 49.8695],
 10866: [-46.5795, -23.5395],
 10869: [82.9805, 55.0415],
 10881: [-6.3685, 53.2875],
 10884: [-71.4585, 42.2895],
 10885: [12.4915, 48.6395],
 10890: [4.9015, 52.3675],
 10904: [30.4875, 59.9595],
 10905: [-110.9325, 32.2195],
 10915: [8.5275, 49.0495],
 10920: [10.4485, 48.3375],
 10923: [6.1885, 49.1085],
 10924: [12.0885, 42.4495],
 10928: [8.5985, 47.4215],
 10932: [76.9085, 43.2585],
 10933: [145.9485, -38.1415],
 10935: [17.0385, 51.1095],
 10938: [10.6085, 59.8915],
 10940: [-1.1405, 52.6375],
 10946: [2.1995, 41.4105],
 10949: [9.4995, 40.9215],
 10951: [4.7995, 52.0775],
 10953: [-5.1805, 50.2685],
 10955: [9.9295, 56.0395],
 10967: [28.0005, -26.1195],
 10972: [31.1705, 48.3785],
 10977: [90.4205, 23.7705],
 10982: [-73.5585, 45.5185],
 10986: [4.9515, 52.3605],
 10988: [5.3815, 52.2615],
 11006: [28.8375, 47.0305],
 11010: [-75.3925, 39.9175],
 11013: [37.4175, 55.7585],
 11016: [174.7775, -41.2895],
 11018: [-68.6725, 44.8815],
 11022: [-1.6315, 47.2585],
 11036: [1.3185, 52.0905],
 11037: [39.8285, 54.6005],
 11038: [30.4285, 60.0615],
 11043: [42.0495, 55.5785],
 11046: [73.3695, 54.9905],
 11050: [49.6695, 58.5975],
 11054: [30.2895, 60.0995],
 11055: [30.5995, 50.5295],
 11056: [135.4195, 34.6005],
 11061: [37.3405, 55.8075],
 11063: [37.5405, 55.6885],
 11068: [49.5705, 27.1615],
 11074: [30.4405, 59.7095],
 11075: [8.8305, 52.2695],
 11076: [46.0205, 51.5305],
 11079: [37.9005, 55.6915],
 11081: [39.7215, 54.6275],
 11090: [-117.1585, 32.7375],
 11092: [37.1815, 56.7385],
 11104: [18.0075, 49.1495],
 11108: [7.8675, 47.3415],
 11116: [65.4975, 57.1205],
 11118: [6.0175, 49.6315],
 11145: [-1.8405, 53.8495],
 11148: [10.8295, 59.9415],
 11151: [19.8995, 50.0175],
 11153: [-75.9005, 45.3085],
 11155: [18.1495, 59.3595],
 11158: [6.7895, 51.2515],
 11162: [3.9605, 51.0185],
 11163: [16.3705, 48.2085],
 11166: [10.8805, 50.9005],
 11170: [23.7505, 60.6575],
 11171: [-74.1395, 40.3975],
 11173: [-1.3095, 51.3885],
 11175: [-1.8395, 53.8495],
 11179: [-0.1295, 51.5115],
 11180: [-68.0085, 10.2075],
 11182: [28.0615, -26.0615],
 11185: [12.3815, 51.3395],
 11194: [8.3915, 49.0095],
 11200: [4.5975, 51.1475],
 11203: [-74.1325, 40.3985],
 11206: [11.6375, 52.1405],
 11209: [-75.7025, 45.4215],
 11210: [13.6975, 52.4575],
 11211: [-0.1225, 51.5075],
 11215: [-77.4625, 39.0195],
 11217: [2.5875, 48.8405],
 11218: [139.6175, 35.6015],
 11219: [26.0975, 44.4215],
 11220: [5.9685, 51.8675],
 11222: [5.2285, 51.0085],
 11223: [-2.6615, 53.3785],
 11226: [16.3685, 48.2105],
 11227: [2.3785, 48.7805],
 11241: [14.2895, 48.3075],
 11243: [7.8195, 48.6685],
 11244: [15.4395, 47.0695],
 11256: [44.4995, 40.2105],
 11257: [-71.5205, -32.9895],
 11260: [-6.2595, 53.3475],
 11266: [10.1005, 56.2305],
 11274: [73.4405, 54.9395],
 11275: [7.0505, 62.6295],
 11280: [0.2015, 51.4775],
 11289: [12.5715, 55.7115],
 11292: [139.8715, 35.6585],
 11296: [8.8515, 48.2705],
 11299: [7.4915, 51.5115],
 11301: [30.2575, 59.9475],
 11317: [18.2075, 46.0705],
 11320: [39.7985, 43.5675],
 11323: [4.2885, 51.0285],
 11337: [30.3085, 59.9905],
 11343: [45.6495, 44.6685],
 11344: [55.0995, 51.7595],
 11346: [30.5995, 50.4805],
 11361: [30.3605, 59.9275],
 11363: [3.8805, 50.9885],
 11374: [30.3405, 59.9295],
 11379: [30.8205, 49.8715],
 11383: [-17.3685, 14.7585],
 11384: [15.0415, 50.7895],
 11394: [8.5615, 47.4195],
 11400: [8.4975, 47.3775],
 11404: [12.5675, 55.8195],
 11414: [24.2175, 56.9495],
 11421: [10.4985, 52.2675],
 11423: [36.2085, 55.7085],
 11425: [18.2185, 50.9695],
 11429: [37.4985, 55.7415],
 11434: [4.6885, 50.9095],
 11437: [49.4185, 53.5105],
 11447: [24.6995, 59.4305],
 11448: [37.6295, 55.6515],
 11453: [30.3295, 59.9085],
 11461: [-0.4795, 51.1375],
 11463: [8.4705, 49.4785],
 11472: [17.6905, 59.8185],
 11476: [30.3005, 59.9205],
 11479: [36.2205, 55.6915],
 11484: [4.8415, 51.1795],
 11487: [30.3115, 59.9405],
 11494: [19.0615, 47.4695],
 11497: [5.6215, 51.4805],
 11499: [2.8015, 50.8515],
 11500: [-75.1825, 39.4175],
 11501: [37.4075, 55.9575],
 11504: [138.9075, -35.0405],
 11506: [-73.5825, 45.5205],
 11523: [5.0685, 50.9685],
 11526: [4.6885, 50.8905],
 11529: [-84.0915, 39.7415],
 11531: [1.1085, 47.2775],
 11536: [-122.0815, 37.3905],
 11541: [19.5595, 44.8775],
 11542: [20.4395, 44.7985],
 11550: [-77.3105, 38.9675],
 11555: [28.9995, 41.0695],
 11558: [7.2595, 61.6315],
 11560: [45.4305, 35.5675],
 11571: [3.7505, 51.0675],
 11574: [11.0105, 43.8995],
 11576: [3.7205, 51.0505],
 11577: [4.4305, 51.1505],
 11578: [3.7305, 51.0515],
 11583: [12.8115, 56.3585],
 11586: [15.4515, 47.0605],
 11587: [3.5715, 51.1505],
 11592: [19.0315, 47.5585],
 11593: [18.7415, 47.4985],
 11595: [30.6215, 50.5195],
 11598: [2.1415, 41.3515],
 11600: [2.1075, 41.4775],
 11601: [8.4575, 47.4075],
 11602: [2.1875, 41.3985],
 11608: [5.2375, 52.3815],
 11610: [-0.3925, 54.2875],
 11622: [37.6185, 55.7585],
 11623: [44.5185, 40.1785],
 11629: [30.6685, 50.4415],
 11630: [9.9885, 53.5375],
 11632: [-1.5315, 47.2085],
 11634: [-113.6215, 37.1195],
 11635: [22.9385, 39.3695],
 11639: [4.3985, 51.2215],
 11642: [4.7995, 52.3785],
 11649: [15.9695, 45.8015],
 11656: [10.6195, 49.2105],
 11665: [11.4305, 47.2695],
 11667: [4.2305, 51.2105],
 11673: [153.0105, -27.4715],
 11688: [12.6515, 42.5715],
 11689: [-95.3885, 45.6515],
 11690: [4.9515, 52.3575],
 11703: [4.0275, 51.0685],
 11705: [-122.3025, 47.7595],
 11707: [8.3875, 49.0005],
 11708: [27.4075, 59.3615],
 11710: [3.7375, 50.4275],
 11711: [0.3375, 46.5775],
 11713: [5.8475, 51.8385],
 11717: [13.4175, 52.4505],
 11721: [2.8585, 51.0275],
 11722: [5.7585, 45.1785],
 11731: [2.3585, 48.8375],
 11733: [5.9785, 46.2385],
 11737: [15.9685, 45.8005],
 11743: [8.3595, 47.4385],
 11747: [-75.6605, 41.4105],
 11749: [2.1095, 41.3915],
 11758: [24.8895, 60.2115],
 11760: [-56.1795, -34.8825],
 11761: [27.6305, 62.9175],
 11774: [172.6405, -43.5305],
 11779: [19.8205, 41.3215],
 11794: [30.4915, 50.4295],
 11797: [-78.8485, 35.7305],
 11803: [14.9775, 40.6085],
 11805: [24.9375, 60.1695],
 11809: [24.8475, 60.2615],
 11811: [30.4775, 50.3475],
 11828: [4.7185, 49.7615],
 11835: [3.6885, 51.0795],
 11841: [-3.3705, 47.7475],
 11842: [-122.2405, 37.4885],
 11843: [174.7695, -36.8515],
 11845: [24.5595, 65.7595],
 11848: [4.5795, 51.9515],
 11849: [5.1395, 52.0615],
 11854: [5.3095, 52.3995],
 11862: [30.5205, 50.4485],
 11863: [10.2205, 53.3485],
 11868: [-1.3995, 50.9515],
 11873: [-0.9495, 45.5585],
 11874: [28.8405, 47.0295],
 11876: [-81.2395, 42.9905],
 11877: [12.5005, 41.9005],
 11880: [7.5415, 44.3775],
 11883: [-98.4685, 45.4585],
 11885: [28.8615, 46.9895],
 11902: [48.0475, 46.3385],
 11906: [-0.3625, 39.5105],
 11911: [-79.9625, 40.3675],
 11914: [-1.1325, 53.8295],
 11917: [5.6875, 50.8405],
 11918: [-115.1425, 36.1715],
 11925: [8.8585, 51.1295],
 11939: [4.9085, 51.0915],
 11940: [-3.7005, 40.4175],
 11944: [2.4295, 6.3695],
 11947: [174.7695, -36.8495],
 11950: [3.0395, 43.3275],
 11955: [-4.7405, 41.6295],
 11958: [-0.3905, 39.4515],
 11962: [12.0605, 56.0085],
 11967: [-123.0295, 49.3305],
 11968: [24.8205, 60.2315],
 11975: [12.5705, 55.6795],
 11983: [-0.6985, 51.6385],
 11985: [-75.5385, 40.1795],
 11989: [-122.0985, 37.4015],
 11990: [13.4415, 52.5075],
 11992: [37.8715, 55.6785],
 11997: [-5.0685, 50.4205],
 12007: [2.3475, 48.9305],
 12012: [-74.5725, 39.9885],
 12015: [4.8575, 45.7195],
 12018: [4.9775, 44.9915],
 12022: [-0.7215, 51.5185],
 12025: [-2.0815, 53.2295],
 12027: [8.7685, 53.0805],
 12028: [13.4485, 52.5115],
 12032: [-1.4815, 48.2285],
 12035: [-81.2415, 19.3195],
 12049: [-0.1805, 52.1015],
 12060: [-88.2795, 42.0375],
 12063: [24.5705, 65.7385],
 12066: [37.6205, 55.8205],
 12070: [-84.5395, 33.8275],
 12071: [8.5105, 47.4175],
 12074: [4.7705, 45.8095],
 12078: [30.4605, 50.4515],
 12081: [5.9315, 51.7775],
 12082: [4.4015, 45.4585],
 12084: [5.7815, 51.8295],
 12087: [5.1315, 52.1005],
 12089: [51.4215, 35.7015],
 12093: [-97.1485, 49.7985],
 12099: [6.0915, 45.9515],
 12103: [-121.0525, 40.2985],
 12105: [-110.7525, 32.0795],
 12108: [-96.8225, 32.9815],
 12115: [-74.2625, 40.6995],
 12116: [-118.4625, 34.0005],
 12117: [8.9075, 49.9405],
 12118: [9.7275, 51.2015],
 12120: [11.5985, 44.8275],
 12124: [-78.8715, 43.8995],
 12125: [9.9885, 53.5495],
 12126: [12.3085, 55.0105],
 12134: [-117.7515, 33.7495],
 12137: [37.8585, 55.6705],
 12142: [-0.5805, 44.8385],
 12143: [-78.6605, 35.8585],
 12144: [-84.8005, 34.1695],
 12146: [-82.0405, 34.7405],
 12153: [-3.8205, 40.4385],
 12156: [-89.5305, 40.9005],
 12159: [-108.7605, 44.7515],
 12160: [-56.1895, -34.8925],
 12161: [-81.8595, 41.1375],
 12165: [9.5405, 58.9295],
 12166: [-86.2695, 41.8205],
 12170: [-3.6895, 40.4875],
 12171: [174.7605, -36.8525],
 12177: [9.7605, 50.9605],
 12180: [-86.9385, 36.0575],
 12183: [103.8415, 1.4185],
 12185: [-122.2785, 37.8795],
 12195: [3.4415, 6.4295],
 12197: [174.8515, -36.8795],
 12199: [139.9815, 35.6915],
 12205: [27.9875, -26.0905],
 12207: [31.0875, -29.7295],
 12209: [139.5575, 35.5815],
 12210: [121.6675, 24.9175],
 12219: [-9.1225, 38.7815],
 12220: [14.1985, 42.4575],
 12225: [8.6385, 49.8595],
 12226: [-122.0315, 36.9705],
 12234: [-3.3515, 55.7495],
 12235: [8.4785, 47.5695],
 12236: [34.9985, 32.7905],
 12258: [4.3595, 52.0115],
 12264: [13.4205, 52.4695],
 12266: [4.4405, 51.2005],
 12279: [24.7305, 59.4215],
 12280: [12.4215, 41.9075],
 12282: [5.4115, 52.1585],
 12286: [28.1415, -25.9295],
 12291: [24.6615, 60.2075],
 12297: [-74.6685, 40.3605],
 12300: [-121.9625, 37.3775],
 12302: [151.1975, -33.8815],
 12303: [-95.7125, 37.0885],
 12306: [16.2875, 48.2005],
 12315: [-82.3025, 28.5395],
 12318: [-90.4725, 38.6015],
 12319: [5.6375, 52.3415],
 12320: [-82.3615, 29.6775],
 12321: [5.1385, 50.9975],
 12330: [-90.4915, 38.7775],
 12331: [-77.3915, 39.4475],
 12333: [9.6685, 59.0385],
 12334: [-70.7215, 43.4795],
 12335: [4.8785, 45.6995],
 12336: [12.0585, 55.8405],
 12343: [4.8995, 52.3685],
 12344: [-6.8705, 33.9695],
 12349: [0.0095, 52.2215],
 12356: [-1.2605, 51.7505],
 12357: [30.7195, 46.4405],
 12360: [2.3005, 48.7475],
 12363: [151.2105, -33.8315],
 12370: [15.9805, 45.8175],
 12372: [146.9405, -41.6515],
 12376: [17.9405, 59.4405],
 12378: [-1.4195, 51.6815],
 12380: [-82.1485, 34.9375],
 12383: [-97.1385, 49.8985],
 12403: [172.6375, -43.5315],
 12404: [151.1875, -33.9105],
 12410: [144.9275, -37.7925],
 12411: [174.9375, -37.0525],
 12415: [144.9275, -37.8205],
 12418: [153.0775, -26.6585],
 12420: [144.9785, -37.8625],
 12422: [151.3185, -33.4715],
 12423: [144.9685, -37.8415],
 12426: [-120.9015, 40.1205],
 12428: [153.0185, -27.4685],
 12429: [35.0485, 48.4615],
 12430: [8.7685, 47.1975],
 12438: [4.8185, 46.3215],
 12441: [100.4895, 7.0075],
 12442: [-0.1305, 50.8285],
 12443: [-75.5405, 40.5985],
 12444: [0.1795, 52.0795],
 12449: [5.0295, 44.9415],
 12452: [-87.7905, 41.8485],
 12454: [21.5995, 47.5495],
 12459: [-77.6305, 39.1915],
 12465: [18.4205, -33.9205],
 12466: [18.6105, -33.8995],
 12474: [23.4505, 40.2695],
 12475: [-79.9995, 39.9995],
 12476: [9.6705, 59.1105],
 12501: [8.2675, 50.2175],
 12503: [44.5175, 40.1785],
 12504: [-104.8025, 39.9495],
 12506: [-77.4625, 39.0205],
 12518: [-74.6425, 40.1315],
 12531: [37.5085, 47.0975],
 12535: [30.5685, 50.3995],
 12541: [-64.7905, 18.3275],
 12548: [-86.6305, 39.2315],
 12563: [-74.7495, 41.0585],
 12566: [-79.3595, 43.6605],
 12578: [-93.2295, 44.9715],
 12579: [-121.8895, 37.3415],
 12581: [-73.2285, 44.3775],
 12583: [8.7715, 51.7085],
 12594: [16.5815, 49.2395],
 12597: [39.3715, 48.5805],
 12598: [30.4515, 50.4615],
 12600: [-122.0225, 37.3675],
 12601: [36.2175, 50.0375],
 12605: [36.2175, 49.9895],
 12614: [30.5175, 50.4495],
 12622: [-122.3115, 47.6785],
 12623: [-97.7615, 30.3985],
 12626: [37.6085, 48.8505],
 12629: [30.3885, 50.4615],
 12639: [36.2385, 49.9915],
 12640: [37.7295, 47.9575],
 12642: [37.7195, 55.7785],
 12648: [36.2295, 49.9915],
 12650: [-71.5505, 42.8775],
 12651: [-82.9405, 40.0675],
 12652: [-122.1905, 47.7185],
 12654: [30.5195, 50.4495],
 12660: [30.5005, 50.4375],
 12668: [-76.6495, 39.0615],
 12671: [-121.8895, 37.3375],
 12673: [-75.4495, 38.3985],
 12681: [-122.3785, 47.6775],
 12685: [-80.1485, 26.0095],
 12686: [-73.7085, 41.6205],
 12688: [-87.7285, 41.9615],
 12691: [-121.8485, 37.3475],
 12693: [-73.2885, 41.4885],
 12710: [-121.9725, 36.9475],
 12711: [8.5175, 47.3875],
 12716: [6.9975, 49.2405],
 12717: [30.4775, 50.4905],
 12719: [4.9175, 52.3315],
 12721: [-122.7115, 45.4275],
 12723: [22.9385, 40.6385],
 12724: [11.5785, 48.1395],
 12726: [-81.5615, 38.3705],
 12728: [-122.1115, 37.3915],
 12729: [10.2285, 56.1715],
 12732: [-0.8415, 51.8085],
 12733: [18.6785, 50.2885],
 12736: [4.4285, 51.2105],
 12739: [-76.6715, 42.5415],
 12750: [8.4995, 47.3775],
 12753: [12.0695, 55.6385],
 12755: [-1.4005, 50.9395],
 12762: [23.7405, 37.8885],
 12768: [-96.5495, 32.9215],
 12772: [6.5705, 46.5485],
 12774: [-1.8795, 47.2895],
 12779: [55.1205, 51.7915],
 12784: [36.3715, 49.9495],
 12786: [144.9515, -37.8295],
 12787: [6.1315, 46.2005],
 12792: [23.7815, 37.9985],
 12796: [4.4215, 51.2205],
 12801: [-0.6025, 51.5075],
 12802: [-77.4125, 38.7285],
 12804: [-90.4625, 14.6095],
 12805: [-74.0825, 4.5995],
 12808: [-49.2325, -25.4485],
 12809: [-75.7525, 45.3915],
 12810: [139.8175, 35.7575],
 12813: [34.2975, 45.4985],
 12819: [-70.6425, -33.4685],
 12823: [14.5385, 50.0085],
 12827: [22.5085, 40.2705],
 12829: [6.2085, 49.2015],
 12830: [12.1485, 57.3375],
 12834: [11.1885, 59.9195],
 12835: [21.8885, 43.3195],
 12838: [23.7285, 37.9815],
 12845: [-70.6905, -33.6405],
 12847: [-0.2405, 52.5705],
 12848: [-70.9205, -53.1485],
 12850: [16.9295, 52.4075],
 12853: [-105.0905, 39.6485],
 12855: [8.2095, 47.4495],
 12871: [17.5505, 60.0375],
 12873: [50.2205, 53.2485],
 12874: [14.4605, 50.0895],
 12876: [11.1605, 59.9405],
 12877: [26.9905, 49.4305],
 12878: [6.1105, 49.5015],
 12879: [-72.5895, 42.8415],
 12880: [2.3315, 48.8675],
 12888: [8.5515, 47.4215],
 12890: [50.1815, 53.2075],
 12892: [2.3615, 48.8785],
 12894: [144.8815, -37.7805],
 12895: [-73.8085, 45.4895],
 12896: [50.1815, 53.2105],
 12898: [8.5415, 47.3715],
 12902: [22.2575, 60.4585],
 12904: [21.0575, 52.1295],
 12908: [-121.8325, 37.2315],
 12911: [5.7675, 50.9475],
 12913: [4.8375, 45.7485],
 12918: [25.1375, 35.3415],
 12927: [-70.6215, -33.4495],
 12929: [-0.6915, 52.0215],
 12932: [18.0485, 59.3185],
 12933: [24.3785, 45.0985],
 12943: [-4.9605, 51.8185],

In [25]:
coordinates_df = pd.DataFrame(coordinates).T.reset_index().rename(columns={0 : 'long',
                                                                           1 : 'lat',
                                                                          'index' : 'probe_id'}
                                                                 )

In [26]:
coordinates_df

      probe_id      long      lat
0        10003    4.9375  52.3685
1        10006    0.1575  52.2205
2        10007 -122.3325  38.3305
3        10019    5.2875  43.5315
4        10023   13.3785  52.4985
...        ...       ...      ...
5224     35733   49.5785  37.2785
5225     35734   36.2385  30.5895
5226     35735  -58.6715 -62.2405
5227     35742   31.0095 -29.8015
5228     35743   27.9695 -26.0615

[5229 rows x 3 columns]

In [27]:
coordinates_df.to_csv('../metadata/probe-coordinates.csv', index=False, header=True)

In [22]:
home_probes

[10006,
 10092,
 10099,
 10101,
 10134,
 10141,
 10194,
 10214,
 10228,
 10231,
 10250,
 10258,
 10266,
 10301,
 10312,
 10317,
 10322,
 10331,
 10338,
 10386,
 10397,
 10400,
 10441,
 10443,
 10462,
 10473,
 10479,
 10486,
 10497,
 10540,
 10542,
 10553,
 10555,
 10562,
 10568,
 10576,
 10583,
 10584,
 10605,
 10611,
 10645,
 10647,
 10650,
 10654,
 10661,
 10717,
 10729,
 10738,
 10743,
 10750,
 10767,
 10770,
 10774,
 10790,
 10819,
 10843,
 10858,
 10864,
 10866,
 10869,
 10884,
 10890,
 10923,
 10928,
 10933,
 10940,
 10946,
 10967,
 10982,
 11022,
 11054,
 11056,
 11075,
 11090,
 11108,
 11116,
 11145,
 11158,
 11162,
 11175,
 11179,
 11200,
 11209,
 11210,
 11260,
 11266,
 11275,
 11289,
 11323,
 11374,
 11437,
 11499,
 11500,
 11506,
 11523,
 11526,
 11529,
 11576,
 11577,
 11583,
 11592,
 11608,
 11610,
 11629,
 11642,
 11673,
 11713,
 11722,
 11758,
 11760,
 11761,
 11774,
 11794,
 11828,
 11849,
 11863,
 11873,
 11883,
 11902,
 11914,
 11950,
 11967,
 11968,
 11990,
 11992,
 12012,
 12032,
 12049,
 12071,
 12099,
 12105,
 12108,
 12124,
 12126,
 12137,
 12166,
 12177,
 12180,
 12226,
 12279,
 12280,
 12315,
 12330,
 12331,
 12336,
 12357,
 12360,
 12363,
 12378,
 12410,
 12411,
 12418,
 12423,
 12428,
 12438,
 12449,
 12454,
 12466,
 12474,
 12475,
 12501,
 12503,
 12518,
 12548,
 12600,
 12685,
 12693,
 12721,
 12724,
 12728,
 12729,
 12753,
 12755,
 12768,
 12787,
 12804,
 12813,
 12823,
 12827,
 12834,
 12876,
 12894,
 12908,
 12927,
 12929,
 12933,
 12956,
 12985,
 13008,
 13029,
 13037,
 13051,
 13056,
 13074,
 13081,
 13109,
 13121,
 13131,
 13201,
 13206,
 13213,
 13237,
 13242,
 13266,
 13273,
 13280,
 13284,
 13297,
 13314,
 13318,
 13389,
 13392,
 13407,
 13410,
 13420,
 13434,
 13435,
 13439,
 13444,
 13475,
 13476,
 13488,
 13492,
 13494,
 13497,
 13539,
 13590,
 13595,
 13615,
 13642,
 13654,
 13656,
 13662,
 13667,
 13671,
 13672,
 13681,
 13686,
 13688,
 13691,
 13694,
 13746,
 13798,
 13820,
 13821,
 13831,
 13873,
 13878,
 13900,
 13903,
 13942,
 13946,
 14037,
 14038,
 14043,
 14049,
 14053,
 14064,
 14076,
 14078,
 14090,
 14102,
 14136,
 14149,
 14152,
 14164,
 14171,
 14174,
 14184,
 14199,
 14238,
 14242,
 14243,
 14244,
 14250,
 14260,
 14271,
 14277,
 14319,
 14322,
 14325,
 14332,
 14340,
 14341,
 14342,
 14360,
 14369,
 14370,
 14377,
 14381,
 14393,
 14502,
 14511,
 14519,
 14525,
 14529,
 14536,
 14537,
 14544,
 14570,
 14572,
 14576,
 14583,
 14604,
 14606,
 14618,
 14631,
 14635,
 14680,
 14691,
 14695,
 14727,
 14745,
 14752,
 14784,
 14916,
 14934,
 15000,
 15018,
 15019,
 15039,
 15044,
 15049,
 15053,
 15059,
 15088,
 15094,
 15098,
 15099,
 15121,
 15133,
 15138,
 15141,
 15170,
 15171,
 15176,
 15189,
 15516,
 15606,
 15623,
 15645,
 15651,
 15669,
 15683,
 15685,
 15708,
 15712,
 15714,
 15718,
 15734,
 15749,
 15789,
 15792,
 15794,
 15795,
 15801,
 15831,
 15853,
 15857,
 15861,
 15877,
 15883,
 15945,
 15958,
 15976,
 15979,
 15984,
 16017,
 16018,
 16033,
 16048,
 16058,
 16075,
 16083,
 16101,
 16126,
 16144,
 16146,
 16147,
 16149,
 16155,
 16163,
 16209,
 16226,
 16233,
 16304,
 16312,
 16323,
 16366,
 16379,
 16470,
 16503,
 16505,
 16509,
 16519,
 16562,
 16583,
 16584,
 16601,
 16612,
 16641,
 16701,
 16710,
 16715,
 16718,
 16741,
 16751,
 16758,
 16768,
 16782,
 16785,
 16801,
 16808,
 16822,
 16834,
 16862,
 16869,
 16872,
 16884,
 16887,
 16898,
 16909,
 16914,
 16923,
 16928,
 16930,
 16956,
 16968,
 16971,
 16973,
 16978,
 16984,
 16987,
 17025,
 17030,
 17036,
 17049,
 17056,
 17062,
 17064,
 17099,
 17106,
 17110,
 17127,
 17131,
 17136,
 17151,
 17154,
 17195,
 17196,
 17209,
 17214,
 17218,
 17223,
 17246,
 17250,
 17263,
 17300,
 17304,
 17317,
 17324,
 17356,
 17370,
 17376,
 17382,
 17394,
 17397,
 17403,
 17472,
 17490,
 17500,
 17502,
 17505,
 17525,
 17527,
 17536,
 17587,
 17590,
 17606,
 17634,
 17673,
 17689,
 17706,
 17715,
 17781,
 17796,
 17797,
 17823,
 17826,
 17830,
 17908,
 17909,
 17918,
 17920,
 17948,
 17951,
 17960,
 17968,
 17978,
 17998,
 18036,
 18062,
 18138,
 18165,
 18205,
 18286,
 18290,
 18312,
 18357,
 18393,
 18402,
 18414,
 18425,
 18438,
 18444,
 18460,
 18478,
 18504,
 18519,
 18530,
 18549,
 18554,
 18587,
 18594,
 18602,
 18667,
 18685,
 18713,
 18722,
 18744,
 18773,
 18776,
 18791,
 18838,
 18896,
 18915,
 18920,
 18947,
 19014,
 19015,
 19053,
 19059,
 19071,
 19099,
 19139,
 19167,
 19172,
 19214,
 19239,
 19242,
 19275,
 19276,
 19279,
 19316,
 19319,
 19324,
 19326,
 19383,
 19397,
 19449,
 19450,
 19461,
 19479,
 19496,
 19503,
 19505,
 19533,
 19535,
 19568,
 19569,
 19599,
 19615,
 19620,
 19632,
 19650,
 19651,
 19660,
 19665,
 19671,
 19793,
 19797,
 19801,
 19809,
 19815,
 19872,
 19905,
 19907,
 19912,
 19921,
 19930,
 19952,
 19956,
 19963,
 19976,
 19977,
 19997,
 20001,
 20008,
 20017,
 20020,
 20060,
 20127,
 20171,
 20187,
 20211,
 20214,
 20223,
 20225,
 20299,
 20306,
 20374,
 20435,
 20453,
 20466,
 20520,
 20544,
 20553,
 20560,
 20602,
 20607,
 20608,
 20621,
 20625,
 20662,
 20687,
 20727,
 20751,
 20756,
 20825,
 20913,
 20916,
 20995,
 21023,
 21028,
 21031,
 21073,
 21105,
 21127,
 21133,
 21170,
 21181,
 21228,
 21229,
 21242,
 21258,
 21277,
 21286,
 21300,
 21323,
 21347,
 21360,
 21376,
 21402,
 21423,
 21481,
 21485,
 21513,
 21515,
 21523,
 21529,
 21534,
 21566,
 21575,
 21609,
 21690,
 21700,
 21710,
 21714,
 21726,
 21741,
 21761,
 21811,
 21823,
 21825,
 21831,
 21833,
 21842,
 21848,
 21867,
 21907,
 21957,
 21966,
 22017,
 22029,
 22036,
 22038,
 22054,
 22068,
 22116,
 22131,
 22150,
 22151,
 22158,
 22200,
 22202,
 22203,
 22258,
 22272,
 22296,
 22309,
 22340,
 22344,
 22353,
 22424,
 22446,
 22464,
 22488,
 22496,
 22522,
 22533,
 22557,
 22588,
 22680,
 22702,
 22715,
 22758,
 22764,
 22782,
 22785,
 22814,
 22824,
 22867,
 22878,
 22894,
 22905,
 22959,
 22985,
 23058,
 23067,
 23074,
 23077,
 23080,
 23087,
 23144,
 23157,
 23208,
 23223,
 23232,
 23249,
 23254,
 23262,
 23277,
 23279,
 23289,
 23291,
 23328,
 23345,
 23360,
 23450,
 23617,
 23645,
 23686,
 23713,
 23764,
 23892,
 23906,
 23907,
 23939,
 23967,
 23971,
 24004,
 24010,
 24030,
 24066,
 24080,
 24081,
 24093,
 24096,
 24101,
 24171,
 24192,
 24193,
 24196,
 24240,
 24300,
 24314,
 24345,
 24368,
 24405,
 24490,
 24509,
 24537,
 24539,
 24553,
 24584,
 24596,
 24639,
 24645,
 24725,
 24748,
 24801,
 24817,
 24845,
 24858,
 24861,
 24889,
 24907,
 24927,
 24936,
 24940,
 24956,
 24971,
 24972,
 24996,
 25019,
 25027,
 25035,
 25184,
 25207,
 25230,
 25232,
 25261,
 25262,
 25313,
 25324,
 25333,
 25341,
 25346,
 25347,
 25362,
 25390,
 25398,
 25407,
 25497,
 25615,
 25646,
 25711,
 25714,
 25737,
 25738,
 25746,
 25764,
 25777,
 25785,
 25819,
 25968,
 25988,
 26028,
 26034,
 26035,
 26072,
 26083,
 26092,
 26096,
 26108,
 26116,
 26143,
 26145,
 26175,
 26178,
 26190,
 26229,
 26261,
 26340,
 26345,
 26374,
 26380,
 26445,
 26463,
 26465,
 26475,
 26485,
 26492,
 26497,
 26518,
 26552,
 26564,
 26624,
 26642,
 26654,
 26658,
 26698,
 26705,
 26725,
 26730,
 26749,
 26751,
 26754,
 26758,
 26767,
 26799,
 26806,
 26808,
 26821,
 26828,
 26830,
 26855,
 26889,
 26902,
 26924,
 26943,
 26946,
 26957,
 27020,
 27058,
 27072,
 27130,
 27134,
 27148,
 27180,
 27214,
 27219,
 27227,
 27255,
 27256,
 27262,
 27273,
 27280,
 27282,
 27297,
 27327,
 27353,
 27360,
 27362,
 27394,
 27558,
 27636,
 27642,
 27650,
 27663,
 27673,
 27692,
 27750,
 27757,
 27761,
 27768,
 27784,
 27786,
 27899,
 27936,
 28055,
 28123,
 28137,
 28181,
 28201,
 28214,
 28225,
 28226,
 28264,
 28283,
 28287,
 28293,
 28296,
 28315,
 28331,
 28346,
 28356,
 28357,
 28392,
 28400,
 28405,
 28407,
 28416,
 28431,
 28435,
 28447,
 28451,
 28454,
 28470,
 28486,
 28499,
 28511,
 28531,
 28534,
 28541,
 28575,
 28582,
 28594,
 28597,
 28614,
 28617,
 28654,
 28672,
 28676,
 28678,
 28691,
 28698,
 28711,
 28716,
 28737,
 28740,
 28752,
 28755,
 28761,
 28770,
 28788,
 28800,
 28813,
 28860,
 28869,
 28895,
 28903,
 28907,
 28928,
 28930,
 28932,
 28959,
 28964,
 28965,
 28966,
 ...]

In [23]:
len(home_probes)

1439

In [24]:
home_probes_ids = pd.Series(home_probes)

In [25]:
home_probes_ids

0       10006
1       10092
2       10099
3       10101
4       10134
        ...
1434    35689
1435    35695
1436    35699
1437    35701
1438    35724
Length: 1439, dtype: int64

In [29]:
home_probes_ids.to_csv('../metadata/home-probes-ids.csv', index=False, header=['probe_id'])

- based on `traceroute` measurements (see table `traceroutes` in `main.db`), identify probes that have private IP address as 1st hop and public IP address as 2nd hop
- save these probes to `../metadata/home-probes-identified.csv`
- merge both `../metadata/home-probes-ids.csv` (based on tag) and `../metadata/home-probes-identified.csv` (based on traces) into `../metadata/home-probes-merged.csv` (final list for analysis)

In [14]:
with sqlite3.connect('../data/main.db') as conn:
    df = pd.read_sql('select * from traceroute_measurements', con=conn)  # fetched traceroute results from Atlas API
home_probe_traces = df[df['ttl'].astype(int)<=2]

In [17]:
home_probe_traces

,msm_id,timestamp,method,probe_id,addr_fam,origin,src,dst,dst_name,status,ip_path_length,ttl,endpoint,rtt
0,22183901,1562029259,icmp-traceroute,10006,4,80.5.131.205,192.168.0.106,185.228.168.168,185.228.168.168,OK,13,1,192.168.0.1,46.039
1,22183901,1562029259,icmp-traceroute,10006,4,80.5.131.205,192.168.0.106,185.228.168.168,185.228.168.168,OK,13,2,*,
13,22183901,1562029250,icmp-traceroute,10019,4,176.141.164.243,192.168.31.41,185.228.168.168,185.228.168.168,OK,12,1,192.168.31.1,44.354
14,22183901,1562029250,icmp-traceroute,10019,4,176.141.164.243,192.168.31.41,185.228.168.168,185.228.168.168,OK,12,2,*,
25,22183901,1562029252,icmp-traceroute,10034,4,178.235.204.129,192.168.1.112,185.228.168.168,185.228.168.168,OK,13,1,192.168.1.1,50.024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6430922,22289109,1563191338,icmp-traceroute,33346,4,58.176.57.107,192.168.1.236,77.88.8.1,77.88.8.1,OK,7,2,58.176.56.1,1.577
6430928,22289109,1563192128,icmp-traceroute,34961,4,217.74.1.231,192.168.188.30,77.88.8.1,77.88.8.1,OK,6,1,*,
6430929,22289109,1563192128,icmp-traceroute,34961,4,217.74.1.231,192.168.188.30,77.88.8.1,77.88.8.1,OK,6,2,95.130.160.1,2.126
6430934,22289109,1563454936,icmp-traceroute,27827,4,94.179.11.17,192.168.1.2,77.88.8.1,77.88.8.1,OK,12,1,192.168.1.1,0.807
6430935,22289109,1563454936,icmp-traceroute,27827,4,94.179.11.17,192.168.1.2,77.88.8.1,77.88.8.1,OK,12,2,*,

In [9]:
import ipaddress

In [27]:
def is_private(ipaddr):
    if ipaddr != '*':
        return ipaddress.ip_address(ipaddr).is_private
    return False

In [ ]:
home_probe_traces['address_private'] = home_probe_traces['endpoint'].map(is_private)

In [32]:
home_probe_traces

,msm_id,timestamp,method,probe_id,addr_fam,origin,src,dst,dst_name,status,ip_path_length,ttl,endpoint,rtt,address_private
0,22183901,1562029259,icmp-traceroute,10006,4,80.5.131.205,192.168.0.106,185.228.168.168,185.228.168.168,OK,13,1,192.168.0.1,46.039,True
1,22183901,1562029259,icmp-traceroute,10006,4,80.5.131.205,192.168.0.106,185.228.168.168,185.228.168.168,OK,13,2,*,,False
13,22183901,1562029250,icmp-traceroute,10019,4,176.141.164.243,192.168.31.41,185.228.168.168,185.228.168.168,OK,12,1,192.168.31.1,44.354,True
14,22183901,1562029250,icmp-traceroute,10019,4,176.141.164.243,192.168.31.41,185.228.168.168,185.228.168.168,OK,12,2,*,,False
25,22183901,1562029252,icmp-traceroute,10034,4,178.235.204.129,192.168.1.112,185.228.168.168,185.228.168.168,OK,13,1,192.168.1.1,50.024,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6430922,22289109,1563191338,icmp-traceroute,33346,4,58.176.57.107,192.168.1.236,77.88.8.1,77.88.8.1,OK,7,2,58.176.56.1,1.577,False
6430928,22289109,1563192128,icmp-traceroute,34961,4,217.74.1.231,192.168.188.30,77.88.8.1,77.88.8.1,OK,6,1,*,,False
6430929,22289109,1563192128,icmp-traceroute,34961,4,217.74.1.231,192.168.188.30,77.88.8.1,77.88.8.1,OK,6,2,95.130.160.1,2.126,False
6430934,22289109,1563454936,icmp-traceroute,27827,4,94.179.11.17,192.168.1.2,77.88.8.1,77.88.8.1,OK,12,1,192.168.1.1,0.807,True
6430935,22289109,1563454936,icmp-traceroute,27827,4,94.179.11.17,192.168.1.2,77.88.8.1,77.88.8.1,OK,12,2,*,,False

In [36]:
tmp_1 = home_probe_traces[(home_probe_traces['ttl'].astype(int)==1) & (home_probe_traces['address_private'])]

In [37]:
tmp_1

,msm_id,timestamp,method,probe_id,addr_fam,origin,src,dst,dst_name,status,ip_path_length,ttl,endpoint,rtt,address_private
0,22183901,1562029259,icmp-traceroute,10006,4,80.5.131.205,192.168.0.106,185.228.168.168,185.228.168.168,OK,13,1,192.168.0.1,46.039,True
13,22183901,1562029250,icmp-traceroute,10019,4,176.141.164.243,192.168.31.41,185.228.168.168,185.228.168.168,OK,12,1,192.168.31.1,44.354,True
25,22183901,1562029252,icmp-traceroute,10034,4,178.235.204.129,192.168.1.112,185.228.168.168,185.228.168.168,OK,13,1,192.168.1.1,50.024,True
38,22183901,1562029226,icmp-traceroute,10101,4,213.126.51.234,10.0.1.25,185.228.168.168,185.228.168.168,OK,10,1,10.0.1.1,41.143,True
59,22183901,1562029239,icmp-traceroute,10131,4,87.250.37.34,192.168.39.253,185.228.168.168,185.228.168.168,OK,9,1,192.168.39.1,52.008,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6430897,22289109,1563190736,icmp-traceroute,19071,4,77.126.158.39,192.168.1.196,77.88.8.1,77.88.8.1,OK,7,1,192.168.1.1,6.819,True
6430904,22289109,1563190792,icmp-traceroute,34979,4,84.203.10.9,172.17.21.247,77.88.8.1,77.88.8.1,OK,5,1,172.17.21.254,0.786,True
6430909,22289109,1563191012,icmp-traceroute,11223,4,82.3.134.204,192.168.0.197,77.88.8.1,77.88.8.1,OK,12,1,192.168.0.1,0.588,True
6430921,22289109,1563191338,icmp-traceroute,33346,4,58.176.57.107,192.168.1.236,77.88.8.1,77.88.8.1,OK,7,1,192.168.1.1,0.577,True
6430934,22289109,1563454936,icmp-traceroute,27827,4,94.179.11.17,192.168.1.2,77.88.8.1,77.88.8.1,OK,12,1,192.168.1.1,0.807,True

In [38]:
tmp_2 = home_probe_traces[(home_probe_traces['ttl'].astype(int)==2) &
                          (home_probe_traces['endpoint'] != '*') &
                          (~home_probe_traces['address_private'])]

In [39]:
tmp_2

,msm_id,timestamp,method,probe_id,addr_fam,origin,src,dst,dst_name,status,ip_path_length,ttl,endpoint,rtt,address_private
39,22183901,1562029226,icmp-traceroute,10101,4,213.126.51.234,10.0.1.25,185.228.168.168,185.228.168.168,OK,10,2,213.126.51.233,8.807,False
49,22183901,1562029252,icmp-traceroute,10113,4,194.149.129.133,194.149.129.133,185.228.168.168,185.228.168.168,OK,11,2,194.149.130.2,0.657,False
60,22183901,1562029239,icmp-traceroute,10131,4,87.250.37.34,192.168.39.253,185.228.168.168,185.228.168.168,OK,9,2,87.250.37.45,4.496,False
69,22183901,1562029258,icmp-traceroute,10141,4,92.106.227.31,192.168.1.102,185.228.168.168,185.228.168.168,OK,12,2,62.203.135.1,8.215,False
81,22183901,1562029227,icmp-traceroute,10152,4,213.163.122.5,213.163.122.5,185.228.168.168,185.228.168.168,OK,9,2,213.163.96.25,2.372,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6430883,22289109,1563190284,icmp-traceroute,15938,4,145.236.114.55,192.168.1.244,77.88.8.1,77.88.8.1,OK,7,2,145.236.238.242,17.47,False
6430898,22289109,1563190736,icmp-traceroute,19071,4,77.126.158.39,192.168.1.196,77.88.8.1,77.88.8.1,OK,7,2,82.102.128.60,16.689,False
6430905,22289109,1563190792,icmp-traceroute,34979,4,84.203.10.9,172.17.21.247,77.88.8.1,77.88.8.1,OK,5,2,83.147.159.196,11.681,False
6430922,22289109,1563191338,icmp-traceroute,33346,4,58.176.57.107,192.168.1.236,77.88.8.1,77.88.8.1,OK,7,2,58.176.56.1,1.577,False
6430929,22289109,1563192128,icmp-traceroute,34961,4,217.74.1.231,192.168.188.30,77.88.8.1,77.88.8.1,OK,6,2,95.130.160.1,2.126,False

In [53]:
tmp_df = tmp_1.append(tmp_2)
tmp_df = tmp_df.sort_index().groupby(['msm_id', 'timestamp', 'probe_id', 'src', 'dst']).size().rename('entries').reset_index()

In [54]:
tmp_df

,msm_id,timestamp,probe_id,src,dst,entries
0,22183901,1562029206,24645,192.168.178.25,185.228.168.168,1
1,22183901,1562029206,28339,192.168.1.2,185.228.168.168,2
2,22183901,1562029207,33722,192.168.1.2,185.228.168.168,2
3,22183901,1562029208,22424,10.66.35.160,185.228.168.168,1
4,22183901,1562029208,35080,192.168.1.5,185.228.168.168,2
...,...,...,...,...,...,...
546141,22289109,1563190792,34979,172.17.21.247,77.88.8.1,2
546142,22289109,1563191012,11223,192.168.0.197,77.88.8.1,1
546143,22289109,1563191338,33346,192.168.1.236,77.88.8.1,2
546144,22289109,1563192128,34961,192.168.188.30,77.88.8.1,1
546145,22289109,1563454936,27827,192.168.1.2,77.88.8.1,1

In [56]:
tmp_df[tmp_df['entries'] == 2]['probe_id'].unique()

array(['28339', '33722', '35080', ..., '28790', '21312', '25714'],
      dtype=object)

In [57]:
len(tmp_df[tmp_df['entries'] == 2]['probe_id'].unique())

2723

In [70]:
pd.DataFrame(tmp_df[tmp_df['entries'] == 2]['probe_id'].unique()
            ).rename(columns={0 : 'prb_id'}).sort_values('prb_id').to_csv('home-probes-identified.csv', index=False)

In [71]:
x = home_probes_ids.copy()

In [73]:
tmp_df[tmp_df['entries'] == 2]['probe_id']

1         28339
2         33722
4         35080
6         24093
11        25148
          ...
546137    30957
546138    15938
546140    19071
546141    34979
546143    33346
Name: probe_id, Length: 217356, dtype: object

In [77]:
x.append(pd.DataFrame(tmp_df[tmp_df['entries'] == 2]['probe_id'].astype(int)))['probe_id'].unique()

array([10006, 10092, 10099, ..., 27270, 28790, 21312])

In [78]:
len(_)

3231

In [79]:
pd.DataFrame(x.append(pd.DataFrame(tmp_df[tmp_df['entries'] == 2]['probe_id'].astype(int)))['probe_id'].unique()
            ).rename(columns={0 : 'prb_id'}).sort_values('prb_id').to_csv('../metadata/home-probes-merged.csv',
                                                                          index=False)

In [82]:
probe_isps = df[['probe_id', 'origin']].drop_duplicates()

In [86]:
probe_isps

        probe_id           origin
0          10006     80.5.131.205
13         10019  176.141.164.243
25         10034  178.235.204.129
38         10101   213.126.51.234
48         10113  194.149.129.133
...          ...              ...
5692262    35598   122.199.58.220
5692359    35723   147.30.169.229
5692431    31289    203.132.89.57
5692489    30957  188.192.150.187
5692574    27827     94.179.11.17

[7175 rows x 2 columns]

In [84]:
probe_isps_dedup = probe_isps.drop_duplicates('probe_id')

In [85]:
probe_isps_dedup

        probe_id           origin
0          10006     80.5.131.205
13         10019  176.141.164.243
25         10034  178.235.204.129
38         10101   213.126.51.234
48         10113  194.149.129.133
...          ...              ...
4058239    11526   109.132.147.74
4059657    12733    157.158.95.68
4892933    28790    93.205.174.31
5666711    27960   212.33.158.206
5680319    15639  202.178.107.240

[5171 rows x 2 columns]

In [87]:
import pyasn

In [88]:
asndb = pyasn.pyasn('../metadata/ipasn-07-2019.dat')

In [89]:
def lookup_asn(ip):
    if ip is None:
        return None
    else:
        asn, prefix = asndb.lookup(ip)
        return asn

In [ ]:
probe_isps_dedup['asn'] = probe_isps_dedup['origin'].map(lookup_asn)

In [91]:
probe_isps_dedup

        probe_id           origin    asn
0          10006     80.5.131.205   5089
13         10019  176.141.164.243   5410
25         10034  178.235.204.129  29314
38         10101   213.126.51.234  33915
48         10113  194.149.129.133   5379
...          ...              ...    ...
4058239    11526   109.132.147.74   5432
4059657    12733    157.158.95.68   8508
4892933    28790    93.205.174.31   3320
5666711    27960   212.33.158.206   8896
5680319    15639  202.178.107.240  18259

[5171 rows x 3 columns]

In [92]:
import json

In [93]:
with open('../metadata/as_names.json') as f:
    as_names_dict = json.load(f)
as_names_df = pd.DataFrame.from_dict(as_names_dict, orient='index').reset_index(level=0)
as_names_df.rename(columns={'index' : 'asn', 0: 'as_holder'}, inplace=True)
as_names_df['asn'] = as_names_df['asn'].astype(int)

In [94]:
probe_isps_dedup = probe_isps_dedup.merge(as_names_df, how='left', on='asn')

In [95]:
probe_isps_dedup

,probe_id,origin,asn,as_holder
0,10006,80.5.131.205,5089,"NTL, GB"
1,10019,176.141.164.243,5410,"BOUYGTEL-ISP, FR"
2,10034,178.235.204.129,29314,"VECTRANET-AS Al. Zwyciestwa 253, 81-525 Gdynia..."
3,10101,213.126.51.234,33915,"TNF-AS, NL"
4,10113,194.149.129.133,5379,"MK-UKIM-1, MK"
...,...,...,...,...
5166,11526,109.132.147.74,5432,"PROXIMUS-ISP-AS, BE"
5167,12733,157.158.95.68,8508,SILWEB-AS-EDU SILWEB Autonomous System - Acade...
5168,28790,93.205.174.31,3320,"DTAG Internet service provider operations, DE"
5169,27960,212.33.158.206,8896,"XFIBER-AS, NO"
5170,15639,202.178.107.240,18259,"HIGE NTT Communications Corporation, JP"

In [98]:
probe_isps_dedup['as_holder'].value_counts()

COMCAST-7922, US                                                                223
LIBERTYGLOBAL Liberty Global (formerly UPC Broadband Holding, aka AORTA), AT    157
DTAG Internet service provider operations, DE                                   156
France Telecom - Orange, FR                                                     129
PROXAD, FR                                                                      113
                                                                               ...
ASPETROVKA, UA                                                                    1
UMN-SYSTEM, US                                                                    1
SHARIF-AS, IR                                                                     1
LESSE, CA                                                                         1
BCS 32 rue Delizy, FR                                                             1
Name: as_holder, Length: 2083, dtype: int64

In [115]:
probe_isps_dedup['as_holder'].value_counts().head(20)

COMCAST-7922, US                                                                223
LIBERTYGLOBAL Liberty Global (formerly UPC Broadband Holding, aka AORTA), AT    157
DTAG Internet service provider operations, DE                                   156
France Telecom - Orange, FR                                                     129
PROXAD, FR                                                                      113
UUNET, US                                                                        60
KABELDEUTSCHLAND-AS, DE                                                          47
XS4ALL-NL Amsterdam, NL                                                          45
VERSATEL, DE                                                                     45
ATT-INTERNET4, US                                                                44
PROXIMUS-ISP-AS, BE                                                              41
NTL, GB                                                                          37
ASN-IBSNAZ, IT                                                                   35
TNF-AS, NL                                                                       35
BOUYGTEL-ISP, FR                                                                 32
TELENET-AS, BE                                                                   30
LDCOMNET, FR                                                                     26
BT-UK-AS BTnet UK Regional network, GB                                           25
VODANET International IP-Backbone of Vodafone, DE                                24
BELWUE BelWue-Koordination, EU                                                   23
Name: as_holder, dtype: int64

In [102]:
home_probes = pd.read_csv('../metadata/home-probes-merged.csv')['prb_id'].unique()

In [103]:
home_probes

array([10006, 10007, 10080, ..., 35724, 35735, 35742])

In [109]:
home_probe_isps = probe_isps_dedup[probe_isps_dedup['probe_id'].astype(int).isin(home_probes)]

In [110]:
home_probe_isps

,probe_id,origin,asn,as_holder
0,10006,80.5.131.205,5089,"NTL, GB"
3,10101,213.126.51.234,33915,"TNF-AS, NL"
5,10131,87.250.37.34,35573,"AVCOM-AS, RS"
6,10141,92.106.227.31,3303,"SWISSCOM Swisscom (Switzerland) Ltd, CH"
9,10221,93.100.110.215,35807,"SKYNET-SPB-AS, RU"
...,...,...,...,...
5163,20622,185.237.164.6,35280,"ACORUS, FR"
5164,26475,59.166.114.142,9824,"JTCL-JP-AS Jupiter Telecommunication Co. Ltd, JP"
5165,13261,94.41.128.228,41704,"OGS-AS, RU"
5166,11526,109.132.147.74,5432,"PROXIMUS-ISP-AS, BE"
5168,28790,93.205.174.31,3320,"DTAG Internet service provider operations, DE"

In [113]:
home_probe_isps['as_holder'].value_counts()

COMCAST-7922, US                                                                201
DTAG Internet service provider operations, DE                                   143
France Telecom - Orange, FR                                                     120
LIBERTYGLOBAL Liberty Global (formerly UPC Broadband Holding, aka AORTA), AT    112
PROXAD, FR                                                                      108
                                                                               ...
BBIL-AP BHARTI Airtel Ltd., IN                                                    1
EVOK, CH                                                                          1
K-PSI-AS Conectio, PL                                                             1
IR-THR-PTE, IR                                                                    1
GAZETTE-RECORD-INTERNET, US                                                       1
Name: as_holder, Length: 1107, dtype: int64

In [114]:
home_probe_isps['as_holder'].value_counts().head(20)

COMCAST-7922, US                                                                201
DTAG Internet service provider operations, DE                                   143
France Telecom - Orange, FR                                                     120
LIBERTYGLOBAL Liberty Global (formerly UPC Broadband Holding, aka AORTA), AT    112
PROXAD, FR                                                                      108
UUNET, US                                                                        52
VERSATEL, DE                                                                     41
XS4ALL-NL Amsterdam, NL                                                          41
KABELDEUTSCHLAND-AS, DE                                                          40
PROXIMUS-ISP-AS, BE                                                              35
ATT-INTERNET4, US                                                                31
BOUYGTEL-ISP, FR                                                                 25
TELENET-AS, BE                                                                   23
ZEN-AS Zen Internet - UK, GB                                                     22
VODANET International IP-Backbone of Vodafone, DE                                21
KAZTELECOM-AS, KZ                                                                20
CENTURYLINK-US-LEGACY-QWEST, US                                                  20
TELENOR-NEXTEL Telenor Norge AS, NO                                              19
FRONTIER-FRTR, US                                                                19
AS20712 Andrews & Arnold Ltd, GB                                                 18
Name: as_holder, dtype: int64

In [118]:
home_probe_isps.to_csv('../metadata/home-probe-isps.csv', index=False)

In [127]:
home_probe_isps.groupby(['asn', 'as_holder']
                       ).size().reset_index().rename(columns={0 : 'num'}
                                                    ).sort_values('num', ascending=False).head(20)

       asn                                          as_holder  num
165   7922                                   COMCAST-7922, US  201
66    3320      DTAG Internet service provider operations, DE  143
54    3215                        France Telecom - Orange, FR  120
146   6830  LIBERTYGLOBAL Liberty Global (formerly UPC Bro...  112
278  12322                                         PROXAD, FR  108
8      701                                          UUNET, US   52
61    3265                            XS4ALL-NL Amsterdam, NL   41
211   8881                                       VERSATEL, DE   41
581  31334                            KABELDEUTSCHLAND-AS, DE   40
106   5432                                PROXIMUS-ISP-AS, BE   35
153   7018                                  ATT-INTERNET4, US   31
102   5410                                   BOUYGTEL-ISP, FR   25
147   6848                                     TELENET-AS, BE   23
317  13037                       ZEN-AS Zen Internet - UK, GB   22
52    3209  VODANET International IP-Backbone of Vodafone, DE   21
3      209                    CENTURYLINK-US-LEGACY-QWEST, US   20
223   9198                                  KAZTELECOM-AS, KZ   20
39    2119                TELENOR-NEXTEL Telenor Norge AS, NO   19
119   5650                                  FRONTIER-FRTR, US   19
427  20712                   AS20712 Andrews & Arnold Ltd, GB   18

In [128]:
print(_.to_latex(index=False))

\begin{tabular}{rlr}
\toprule
   asn &                                          as\_holder &  num \\
\midrule
  7922 &                                   COMCAST-7922, US &  201 \\
  3320 &      DTAG Internet service provider operations, DE &  143 \\
  3215 &                        France Telecom - Orange, FR &  120 \\
  6830 &  LIBERTYGLOBAL Liberty Global (formerly UPC Bro... &  112 \\
 12322 &                                         PROXAD, FR &  108 \\
   701 &                                          UUNET, US &   52 \\
  3265 &                            XS4ALL-NL Amsterdam, NL &   41 \\
  8881 &                                       VERSATEL, DE &   41 \\
 31334 &                            KABELDEUTSCHLAND-AS, DE &   40 \\
  5432 &                                PROXIMUS-ISP-AS, BE &   35 \\
  7018 &                                  ATT-INTERNET4, US &   31 \\
  5410 &                                   BOUYGTEL-ISP, FR &   25 \\
  6848 &                                     TELENET-AS, BE &   23 \\
 13037 &                       ZEN-AS Zen Internet - UK, GB &   22 \\
  3209 &  VODANET International IP-Backbone of Vodafone, DE &   21 \\
   209 &                    CENTURYLINK-US-LEGACY-QWEST, US &   20 \\
  9198 &                                  KAZTELECOM-AS, KZ &   20 \\
  2119 &                TELENOR-NEXTEL Telenor Norge AS, NO &   19 \\
  5650 &                                  FRONTIER-FRTR, US &   19 \\
 20712 &                   AS20712 Andrews \& Arnold Ltd, GB &   18 \\
\bottomrule
\end{tabular}